<div *ngIf="publication != null" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <img *ngIf="publication.imageEnAvant != null" alt="" src="{{ publication.imageEnAvant.urifile }}"
             style="width: 100%;height: 150px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        Titre : <br>
        <b> {{ publication.titre }}</b>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        Thématiques(s) : <br>
        <span *ngFor="let categorie of publication.categories; last as isLast">
          <b> {{ categorie.libelle }} </b>
          <span *ngIf="!isLast">,</span>
        </span>
      </div>
      <div class="col-md-6">
        Mot(s) clé(s) : <br>
        <span *ngFor="let mot of publication.motCles; last as isLast">
          <b> {{ mot.libelle }} </b>
          <span *ngIf="!isLast">,</span>
        </span>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="publication.status">
      <div class="col-md-4">
        Statut : <br>
        <b>
          <span *ngIf="publication.status == 'EN_REVISION'"
                class="badge badge-dim badge-outline-primary">
                    EN RÉVISION</span>
          <span *ngIf="publication.status == 'PUBLIE'"
                class="badge badge-dim badge-outline-success">
                    PUBLIÉE</span>
          <span *ngIf="publication.status == 'BROUILLON'"
                class="badge badge-dim badge-outline-secondary">
                    BROUILLON</span>
          <span *ngIf="publication.status == 'ANNULE'"
                class="badge badge-dim badge-outline-danger">
                    ANNULÉE</span>
        </b>
      </div>
      <div class="col-md-4">
        Date publication : <br>
        <b> {{ publication.datePublication | date : 'dd MMMM yyyy' }}</b>
      </div>
      <div class="col-md-4">
        Slug : <br>
        <b> {{ publication.slug }}</b>
      </div>
    </div>
    <br>
    <div *ngIf="publication.ressources != null && publication.ressources.length >0" class="row">
      <div class="col-md-12">
        Pièce(s) jointe(s) à la publication
        <br>
        <p-dataView #dv [paginator]="true" [rows]="2"
                    [value]="publication.ressources" emptyMessage="Aucune pièce n'est jointe à la publication !"
                    filterBy="fileName" layout="grid">
          <ng-template pTemplate="header">
            <input (input)="dv.filter($event.target.value, 'contains')" class="form-control"
                   placeholder="Rechercher"
                   type="text">
          </ng-template>
          <ng-template let-medias pTemplate="gridItem" style="display: inline;">

            <div class="col-lg-6" style="display: inline-block;">
                                  <span class="card card-bordered text-soft" style="margin-top: 10px;">
                                          <div class="card-inner text-center">
                                            <img *ngIf="medias.mimeType.includes('image')" alt=""
                                                 src="{{ medias.urifile }}"
                                                 style="height:80px;">
                                            <i *ngIf="!medias.mimeType.includes('image')" class="icon ni ni-file"
                                               style="font-size:80px;"> </i>
                                            {{ medias.originalName }}
                                          </div>

                                     <div class="card-footer border-top text-muted">
                                         <button class="btn btn-icon btn-sm btn-primary btn-round"
                                                 style="margin-right: 10px;">
                                  <em (click)="printFileToViewInNavigator(medias.fileName)"
                                      class="icon ni ni-download"></em></button>
                                       <button (click)="copyToClipBoard(medias.urifile )"
                                               class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                                               title="Copier le lien dans le presse papier">
                                                 <em class="icon ni ni-link"></em></button>
                                             </div>
                                          </span>
            </div>

          </ng-template>
        </p-dataView>
      </div>
    </div>

  </div>
</div>
