
  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <h2 class="card-title">Connexion</h2>
      <div class="nk-block-des">
        <footer class="blockquote-footer">Entrer vos identifiants pour accéder à l'espace d'administration.</footer>
      </div>
      <div *ngIf="isErrorAuthentication" class="example-alert">
        <br>
        <div class="alert alert-danger alert-icon alert-dismissible">
          <em class="icon ni ni-cross-circle"></em> {{ isErrorMessage }}
          <button class="close" data-dismiss="alert"></button>
        </div>
      </div>
    </div>
  </div><!-- .nk-block-head -->
  <form (ngSubmit)="submitForm()" [formGroup]="validateForm">
    <div class="form-group">
      <div class="form-label-group">
        <label class="form-label" for="default-01">Identifiant</label>
      </div>
      <input class="form-control form-control-lg" formControlName="usernameOrEmail" id="default-01"
             placeholder="Enter votre identifiant" type="text">
    </div><!-- .foem-group -->
    <div class="form-group">
      <div class="form-label-group">
        <label class="form-label" for="password">Mot de passe</label>
        <a class="link link-primary link-sm" routerLink="/auth/reinitialyze" tabindex="-1">Mot de
          passe oublié ?</a>
      </div>
      <div class="form-control-wrap">
        <a class="form-icon form-icon-right passcode-switch" data-target="password" href="#" tabindex="-1">
          <em class="passcode-icon icon-show icon ni ni-eye"></em>
          <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
        </a>
        <input class="form-control form-control-lg" formControlName="password" id="password"
               placeholder="Enter votre mot de passe" type="password">
      </div>
    </div><!-- .foem-group -->
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Me connecter</button>
    </div>
  </form><!-- form -->

  <div class="text-center pt-4 pb-3">
    <h6 class="overline-title overline-title-sap"><span>OU</span></h6>
  </div>
  <ul class="nav justify-center gx-4">
    <li class="nav-item"><a class="nav-link" routerLink="/auth/inscription">S'inscrire</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/">Accueil</a></li>
  </ul>

