<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Tableau de bord</h3>
    <div class="nk-block-des">
      <p class="text-soft">Tableau de bord des indicateurs.</p>
    </div>
  </div>
</div><!-- .nk-block-head -->

<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

          <div class="row">
            <div class="col-md-4">
              <div class="card card-bordered">
                  <div class="card-inner">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="preview-icon-wrap">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 118">
                                                            <path d="M8.916,94.745C-.318,79.153-2.164,58.569,2.382,40.578,7.155,21.69,19.045,9.451,35.162,4.32,46.609.676,58.716.331,70.456,1.845,84.683,3.68,99.57,8.694,108.892,21.408c10.03,13.679,12.071,34.71,10.747,52.054-1.173,15.359-7.441,27.489-19.231,34.494-10.689,6.351-22.92,8.733-34.715,10.331-16.181,2.192-34.195-.336-47.6-12.281A47.243,47.243,0,0,1,8.916,94.745Z" transform="translate(0 -1)" fill="#f6faff"></path>
                                                            <rect x="18" y="32" width="84" height="50" rx="4" ry="4" fill="#fff"></rect>
                                                            <rect x="26" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe"></rect>
                                                            <rect x="50" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe"></rect>
                                                            <rect x="74" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe"></rect>
                                                            <rect x="38" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe"></rect>
                                                            <rect x="62" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe"></rect>
                                                            <path d="M98,32H22a5.006,5.006,0,0,0-5,5V79a5.006,5.006,0,0,0,5,5H52v8H45a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H73a2,2,0,0,0,2-2V94a2,2,0,0,0-2-2H66V84H98a5.006,5.006,0,0,0,5-5V37A5.006,5.006,0,0,0,98,32ZM73,94v4H45V94Zm-9-2H54V84H64Zm37-13a3,3,0,0,1-3,3H22a3,3,0,0,1-3-3V37a3,3,0,0,1,3-3H98a3,3,0,0,1,3,3Z" transform="translate(0 -1)" fill="#798bff"></path>
                                                            <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="#6576ff"></path>
                                                            <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="none" stroke="#6576ff" stroke-miterlimit="10" stroke-width="2"></path>
                                                            <line x1="40" y1="22" x2="57" y2="22" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
                                                            <line x1="40" y1="27" x2="57" y2="27" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
                                                            <line x1="40" y1="32" x2="50" y2="32" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
                                                            <line x1="30.5" y1="87.5" x2="30.5" y2="91.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"></line>
                                                            <line x1="28.5" y1="89.5" x2="32.5" y2="89.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"></line>
                                                            <line x1="79.5" y1="22.5" x2="79.5" y2="26.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"></line>
                                                            <line x1="77.5" y1="24.5" x2="81.5" y2="24.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round"></line>
                                                            <circle cx="90.5" cy="97.5" r="3" fill="none" stroke="#9cabff" stroke-miterlimit="10"></circle>
                                                            <circle cx="24" cy="23" r="2.5" fill="none" stroke="#9cabff" stroke-miterlimit="10"></circle></svg>
                                                    </div>
                        </div>
                        <div class="col-md-6">
                          <h6 class="card-title" style="margin-top: 20px;">Publications</h6>
                          <h4> {{ statitstiqueData != null ? statitstiqueData.nombrePublicationGlobal : 0 }} </h4>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-bordered">
                  <div class="card-inner">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="preview-icon-wrap">
                                  <svg viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                          d="M63.42,87H10.58A4.08,4.08,0,0,1,6.5,82.92V7.08A4.08,4.08,0,0,1,10.58,3H48.32L67.5,21.23V82.92A4.08,4.08,0,0,1,63.42,87ZM47.5,3V16.92A4,4,0,0,0,51.38,21H66.5"
                                          fill="#fff" stroke="#6576ff" stroke-linecap="round"
                                          stroke-miterlimit="10" stroke-width="2"></path>
                                                            <circle cx="63.5" cy="67" fill="#6576ff" r="20"></circle>
                                                            <path
                                                              d="M61.87,71a6.83,6.83,0,0,1,.39-2.55,6.71,6.71,0,0,1,1.51-2.09,11.82,11.82,0,0,0,1.44-1.61,2.92,2.92,0,0,0,.47-1.59,2.47,2.47,0,0,0-.55-1.72,2,2,0,0,0-1.58-.6,2.22,2.22,0,0,0-1.61.59A2,2,0,0,0,61.33,63H58.5a4.39,4.39,0,0,1,1.4-3.37,5.27,5.27,0,0,1,3.65-1.24,5.09,5.09,0,0,1,3.64,1.23,4.48,4.48,0,0,1,1.31,3.43,5.69,5.69,0,0,1-1.77,3.86L65.3,68.37A4.08,4.08,0,0,0,64.51,71Zm-.3,3.17A1.6,1.6,0,0,1,62,73,1.69,1.69,0,0,1,65,74.17a1.65,1.65,0,0,1-.44,1.17,1.67,1.67,0,0,1-1.26.46A1.62,1.62,0,0,1,62,75.34,1.65,1.65,0,0,1,61.57,74.17Z"
                                                              fill="#fff"></path>
                                                            <circle cx="17" cy="21.5" fill="none" r="4.5"
                                                                    stroke="#6576ff" stroke-miterlimit="10"
                                                                    stroke-width="2"></circle>
                                                            <line fill="none" stroke="#6576ff" stroke-miterlimit="10"
                                                                  stroke-width="2" x1="28.5"
                                                                  x2="36.5" y1="20"
                                                                  y2="20"></line>
                                                            <line fill="none" stroke="#6576ff" stroke-miterlimit="10"
                                                                  stroke-width="2" x1="28.5"
                                                                  x2="43.5" y1="24"
                                                                  y2="24"></line>
                                                            <circle cx="17" cy="39.5" fill="none" r="4.5"
                                                                    stroke="#6576ff" stroke-miterlimit="10"
                                                                    stroke-width="2"></circle>
                                                            <line fill="none" stroke="#6576ff" stroke-miterlimit="10"
                                                                  stroke-width="2" x1="28.5"
                                                                  x2="36.5" y1="37"
                                                                  y2="37"></line>
                                                            <line fill="none" stroke="#6576ff" stroke-miterlimit="10"
                                                                  stroke-width="2" x1="28.5"
                                                                  x2="43.5" y1="42"
                                                                  y2="42"></line>
                                                            <circle cx="17" cy="56.5" fill="none" r="4.5"
                                                                    stroke="#6576ff" stroke-miterlimit="10"
                                                                    stroke-width="2"></circle>
                                                            <line fill="none" stroke="#6576ff" stroke-miterlimit="10"
                                                                  stroke-width="2" x1="28.5"
                                                                  x2="36.5" y1="54"
                                                                  y2="54"></line>
                                                            <line fill="none" stroke="#6576ff" stroke-miterlimit="10"
                                                                  stroke-width="2" x1="28.5"
                                                                  x2="43.5" y1="59"
                                                                  y2="59"></line></svg>
                                                    </div>
                        </div>
                        <div class="col-md-6">
                           <h6 class="card-title" style="margin-top: 20px;">Questions</h6>
                          <h4> {{ statitstiqueData != null ? statitstiqueData.nombreQuestionGlobal : 0 }}</h4>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-bordered">
                  <div class="card-inner">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="preview-icon-wrap">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 113.9">
                                                            <path d="M87.84,110.34l-48.31-7.86a3.55,3.55,0,0,1-3.1-4L48.63,29a3.66,3.66,0,0,1,4.29-2.8L101.24,34a3.56,3.56,0,0,1,3.09,4l-12.2,69.52A3.66,3.66,0,0,1,87.84,110.34Z" transform="translate(-4 -2.1)" fill="#c4cefe"></path>
                                                            <path d="M33.73,105.39,78.66,98.1a3.41,3.41,0,0,0,2.84-3.94L69.4,25.05a3.5,3.5,0,0,0-4-2.82L20.44,29.51a3.41,3.41,0,0,0-2.84,3.94l12.1,69.11A3.52,3.52,0,0,0,33.73,105.39Z" transform="translate(-4 -2.1)" fill="#c4cefe"></path>
                                                            <rect x="22" y="17.9" width="66" height="88" rx="3" ry="3" fill="#6576ff"></rect>
                                                            <rect x="31" y="85.9" width="48" height="10" rx="1.5" ry="1.5" fill="#fff"></rect>
                                                            <rect x="31" y="27.9" width="48" height="5" rx="1" ry="1" fill="#e3e7fe"></rect>
                                                            <rect x="31" y="37.9" width="23" height="3" rx="1" ry="1" fill="#c4cefe"></rect>
                                                            <rect x="59" y="37.9" width="20" height="3" rx="1" ry="1" fill="#c4cefe"></rect>
                                                            <rect x="31" y="45.9" width="23" height="3" rx="1" ry="1" fill="#c4cefe"></rect>
                                                            <rect x="59" y="45.9" width="20" height="3" rx="1" ry="1" fill="#c4cefe"></rect>
                                                            <rect x="31" y="52.9" width="48" height="3" rx="1" ry="1" fill="#e3e7fe"></rect>
                                                            <rect x="31" y="60.9" width="23" height="3" rx="1" ry="1" fill="#c4cefe"></rect>
                                                            <path d="M98.5,116a.5.5,0,0,1-.5-.5V114H96.5a.5.5,0,0,1,0-1H98v-1.5a.5.5,0,0,1,1,0V113h1.5a.5.5,0,0,1,0,1H99v1.5A.5.5,0,0,1,98.5,116Z" transform="translate(-4 -2.1)" fill="#9cabff"></path>
                                                            <path d="M16.5,85a.5.5,0,0,1-.5-.5V83H14.5a.5.5,0,0,1,0-1H16V80.5a.5.5,0,0,1,1,0V82h1.5a.5.5,0,0,1,0,1H17v1.5A.5.5,0,0,1,16.5,85Z" transform="translate(-4 -2.1)" fill="#9cabff"></path>
                                                            <path d="M7,13a3,3,0,1,1,3-3A3,3,0,0,1,7,13ZM7,8a2,2,0,1,0,2,2A2,2,0,0,0,7,8Z" transform="translate(-4 -2.1)" fill="#9cabff"></path>
                                                            <path d="M113.5,71a4.5,4.5,0,1,1,4.5-4.5A4.51,4.51,0,0,1,113.5,71Zm0-8a3.5,3.5,0,1,0,3.5,3.5A3.5,3.5,0,0,0,113.5,63Z" transform="translate(-4 -2.1)" fill="#9cabff"></path>
                                                            <path d="M107.66,7.05A5.66,5.66,0,0,0,103.57,3,47.45,47.45,0,0,0,85.48,3h0A5.66,5.66,0,0,0,81.4,7.06a47.51,47.51,0,0,0,0,18.1,5.67,5.67,0,0,0,4.08,4.07,47.57,47.57,0,0,0,9,.87,47.78,47.78,0,0,0,9.06-.87,5.66,5.66,0,0,0,4.08-4.09A47.45,47.45,0,0,0,107.66,7.05Z" transform="translate(-4 -2.1)" fill="#2ec98a"></path>
                                                            <path d="M100.66,12.81l-1.35,1.47c-1.9,2.06-3.88,4.21-5.77,6.3a1.29,1.29,0,0,1-1,.42h0a1.27,1.27,0,0,1-1-.42c-1.09-1.2-2.19-2.39-3.28-3.56a1.29,1.29,0,0,1,1.88-1.76c.78.84,1.57,1.68,2.35,2.54,1.6-1.76,3.25-3.55,4.83-5.27l1.35-1.46a1.29,1.29,0,0,1,1.9,1.74Z" transform="translate(-4 -2.1)" fill="#fff"></path></svg>
                                                    </div>
                        </div>
                        <div class="col-md-6">
                           <h6 class="card-title" style="margin-top: 20px;">Réponses</h6>
                          <h4> {{ statitstiqueData != null ? statitstiqueData.nombreReponseGlobal : 0 }} </h4>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <br>
              <div class="row">
                <div class="col-md-12">
                  <h5>Point des questions reçues </h5>
                  <!--The content below is only a placeholder and can be replaced.-->
                  <div *ngIf="chartOptions != null" id="chart" class="text-center">
                      <apx-chart
                        [chart]="chartOptions.chart"
                        [fill]="chartOptions.fill"
                        [labels]="chartOptions.labels"
                        [legend]="chartOptions.legend"
                        [plotOptions]="chartOptions.plotOptions"
                        [series]="chartOptions.series"
                        [stroke]="chartOptions.stroke"
                        [theme]="chartOptions.theme"
                        [title]="chartOptions.title"
                        [yaxis]="chartOptions.yaxis"
                      ></apx-chart>
                    </div>
                </div>
              </div>
          <br>
          <div class="row">
                <div class="col-md-12">
                  <h5>Nombre de publications par thématique </h5>
                  <!--The content below is only a placeholder and can be replaced.-->
                  <div id="chart2"  *ngIf="chartOptions2 != null" >
                      <apx-chart
                        [series]="chartOptions2.series"
                        [chart]="chartOptions2.chart"
                        [dataLabels]="chartOptions2.dataLabels"
                        [plotOptions]="chartOptions2.plotOptions"
                        [yaxis]="chartOptions2.yaxis"
                        [legend]="chartOptions2.legend"
                        [fill]="chartOptions2.fill"
                        [stroke]="chartOptions2.stroke"
                        [tooltip]="chartOptions2.tooltip"
                        [xaxis]="chartOptions2.xaxis"
                      ></apx-chart>
                    </div>
                </div>
              </div>

          <br>

             <div class="row">
                <div class="col-md-12">
                  <div class="card card-bordered">
                      <div class="card-inner">
                          <h5>Dernières questions en attentes </h5>
                         <p-table #dt [loading]="loading" [paginator]="false" [value]="statitstiqueData.list10DerniereQuestionsEnAttente"
                                  currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} élements" dataKey="id"
                                  styleClass="table nk-tb-list nk-tb-ulist" *ngIf="statitstiqueData != null">

                              <ng-template pTemplate="header">
                                <tr class="nk-tb-item nk-tb-head">
                                 <th class="nk-tb-col text-center" pSortableColumn="code" style="width: 35%;">
                                    <span class="sub-text"> Question  <p-sortIcon field="code"></p-sortIcon> </span>
                                  </th>
                                  <th class="nk-tb-col text-center" pSortableColumn="libelle" style="width: 25%;">
                                    <span class="sub-text"> Email expéditeur  <p-sortIcon field="libelle"></p-sortIcon> </span>
                                  </th>
                                  <th class="nk-tb-col text-center" pSortableColumn="libelle">
                                    <span class="sub-text"> Affect.  <p-sortIcon field="libelle"></p-sortIcon> </span>
                                  </th>
                                  <th class="nk-tb-col text-center" pSortableColumn="libelle">
                                    <span class="sub-text"> Rép.  <p-sortIcon field="libelle"></p-sortIcon> </span>
                                  </th>
                                 <!-- <th class="nk-tb-col text-center">
                                    <span class="sub-text">Actions </span>
                                  </th>-->
                                </tr>

                                <tr class="title-filter-table">
                                  <th>
                                    <input (input)="dt.filter($event.target.value, 'libelle', 'contains')" class="form-control "
                                           placeholder="Rechercher" type="text">
                                  </th>
                                  <th>
                                    <input (input)="dt.filter($event.target.value, 'email', 'contains')" class="form-control "
                                           placeholder="Rechercher" type="text">
                                  </th>
                                  <th>
                                    <input (input)="dt.filter($event.target.value, 'nombreAffectation', 'contains')" class="form-control "
                                           placeholder="Rechercher" type="text">
                                  </th>
                                  <th>
                                    <input (input)="dt.filter($event.target.value, 'nombreReponse', 'contains')" class="form-control "
                                           placeholder="Rechercher" type="text">
                                  </th>
                                 <!-- <th class="nk-tb-col text-center">
                                    <span class="sub-text"># </span>
                                  </th>-->
                                </tr>
                              </ng-template>

                              <ng-template let-question pTemplate="body">
                                <tr class="nk-tb-item">
                                  <td class="nk-tb-col tb-col-md">
                                    <span>{{ question.libelle }}</span>
                                  </td>
                                  <td class="nk-tb-col tb-col-md">
                                    <span>{{ question.email }}</span>
                                  </td>
                                  <td class="nk-tb-col tb-col-md text-center">
                                    <span *ngIf="question.nombreAffectation > 0" style="font-size: 22px;"
                                          class="badge badge-dim badge-outline-success">
                                          {{ question.nombreAffectation }}</span>
                                        <span *ngIf="question.nombreAffectation <= 0" style="font-size: 22px;"
                                              class="badge badge-dim badge-outline-danger">
                                          0</span>
                                  </td>
                                  <td class="nk-tb-col tb-col-md text-center">
                                      <span *ngIf="question.nombreReponse > 0" style="font-size: 22px;"
                                            class="badge badge-dim badge-outline-success">
                                          {{ question.nombreReponse }}</span>
                                        <span *ngIf="question.nombreReponse <= 0" style="font-size: 22px;"
                                              class="badge badge-dim badge-outline-danger">
                                          0</span>
                                  </td>
                                <!--  <td class="nk-tb-col tb-col-md text-center">
                                    <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;"
                                            data-target="#modalAlert1" data-toggle="modal" (click)="affecterQuestion(1, question)" >
                                      <em class="icon ni ni-send"></em></button>
                                    <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                                            data-target="#modalAlert2" data-toggle="modal" (click)="deleteQuestionOnList(1, question)" >
                                      <em class="icon ni ni-cross"></em></button>
                                    <button class="btn btn-icon btn-sm btn-primary btn-round"
                                            data-target="#modalAlert3" data-toggle="modal" (click)="repondreQuestion(question)" >
                                      <em class="icon ni ni-reply"></em></button>
                                  </td>-->
                                </tr>
                              </ng-template>

                              </p-table>
                        <br>
                        <div class="alert alert-pro alert-info" *ngIf="statitstiqueData == null">
                            <div class="alert-text">
                                <p class="text-center">
                                  Aucune question sans réponse n'existe.
                                </p>
                            </div>
                        </div>

                      </div>
                  </div>
                </div>
             </div>

        </div>
      </span>
    </div>
  </div>
</div>

