<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-short nk-sidebar-fixed is-light" data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-sidebar-brand">
      <a class="logo-link nk-sidebar-logo" href="./index.html">
        <img alt="logo" class="logo-light logo-img" src="/assets/images/logo.png" srcset="assets/images/logo2x.png 2x">
        <img alt="logo-dark" class="logo-dark logo-img" src="/assets/images/logo-dark.png"
             srcset="assets/images/logo-dark2x.png 2x">
      </a>
      <a class="logo-link nk-sidebar-logo-small" href="./index.html">
        <img alt="logo" class="logo-light logo-img" src="/assets/images/logo-small.png"
             srcset="assets/images/logo-small2x.png 2x">
        <img alt="logo-dark" class="logo-dark logo-img"
             src="/assets/images/logo-dark-small.png" srcset="assets/images/logo-dark-small2x.png 2x">
      </a>
    </div>
    <div class="nk-menu-trigger mr-n2">
      <a class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu" href="#"><em
        class="icon ni ni-arrow-left"></em></a>
    </div>
  </div><!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
    <div class="nk-sidebar-body" data-simplebar>
      <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu nk-sidebar-menu-middle">
          <!-- Menu -->
          <ul class="nk-menu short-menu">
            <li class="nk-menu-item">
              <a class="nk-menu-link" href="html/index.html">
                <span class="nk-menu-icon"><em class="icon ni ni-notify"></em></span>
                <span class="nk-menu-text">Overview</span>
                <span class="nk-menu-tooltip" title="Overview"></span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" href="html/countries.html">
                <span class="nk-menu-icon"><em class="icon ni ni-globe"></em></span>
                <span class="nk-menu-text">Countries</span>
                <span class="nk-menu-tooltip" title="Countries"></span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" href="html/symptoms.html">
                <span class="nk-menu-icon"><em class="icon ni ni-sun"></em></span>
                <span class="nk-menu-text">Symptoms</span>
                <span class="nk-menu-tooltip" title="Symptoms"></span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" href="html/prevention.html">
                <span class="nk-menu-icon"><em class="icon ni ni-security"></em></span>
                <span class="nk-menu-text">Prevention</span>
                <span class="nk-menu-tooltip" title="Prevention"></span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" href="html/faqs.html">
                <span class="nk-menu-icon"><em class="icon ni ni-help"></em></span>
                <span class="nk-menu-text">FAQs</span>
                <span class="nk-menu-tooltip" title="FAQs"></span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" routerLink="/back-office">
                <span class="nk-menu-icon"><em class="icon ni ni-layers"></em></span>
                <span class="nk-menu-text">Administration</span>
                <span class="nk-menu-tooltip" title="Administration"></span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" routerLink="/auth">
                <span class="nk-menu-icon"><em class="icon ni ni-lock"></em></span>
                <span class="nk-menu-text">Connexion</span>
                <span class="nk-menu-tooltip" title="Connexion"></span>
              </a>
            </li>
          </ul><!-- .nk-menu -->
        </div><!-- .nk-sidebar-menu -->
        <div class="nk-sidebar-footer d-none d-md-block">
          <ul class="nk-menu short-menu">
            <li class="nk-menu-item">
              <a class="nk-menu-link" data-target="#covid-feedback" data-toggle="modal" href="#">
                <span class="nk-menu-icon"><em class="icon ni ni-chat-fill"></em></span>
                <span class="nk-menu-text">Feedback</span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a class="nk-menu-link" data-target="#covid-about" data-toggle="modal" href="#">
                <span class="nk-menu-icon"><em class="icon ni ni-info-fill"></em></span>
                <span class="nk-menu-text">About Data</span>
              </a>
            </li>
          </ul><!-- .nk-menu -->
        </div><!-- .nk-sidebar-footer -->
      </div><!-- .nk-sidebar-contnet -->
    </div><!-- .nk-sidebar-body -->
  </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->
<!-- wrap @s -->
<div class="nk-wrap ">
  <!-- main header @s -->
  <div class="nk-header nk-header-fluid nk-header-fixed nk-header-onlymobile is-light">
    <div class="container-fluid">
      <div class="nk-header-wrap">
        <div class="nk-header-brand">
          <a class="logo-link" href="index.html">
            <img alt="logo" class="logo-light logo-img" src="/assets/images/logo.png" srcset="assets/images/logo2x.png 2x">
            <img alt="logo-dark" class="logo-dark logo-img" src="/assets/images/logo-dark.png"
                 srcset="assets/images/logo-dark2x.png 2x">
          </a>
        </div>
        <div class="nk-menu-trigger ml-auto mr-n1">
          <a class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu" href="#"><em
            class="icon ni ni-menu"></em></a>
        </div>
      </div>
    </div>
  </div>
  <!-- main header @e -->
  <!-- content @s -->
  <div class="nk-content ">
    <div class="container-fluid">
      <div class="nk-content-body">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
  <!-- content @e -->
  <!-- footer @s -->
  <div class="nk-footer d-md-none">
    <div class="container-fluid">
      <div class="nk-footer-wrap gy-1 gx-4">
        <div class="nk-footer-links">
          <ul class="nav nav-sm">
            <li class="nav-item"><a class="nav-link" data-target="#covid-feedback" data-toggle="modal" href="#">Feedback</a>
            </li>
            <li class="nav-item"><a class="nav-link" data-target="#covid-about" data-toggle="modal" href="#">About
              Data</a></li>
          </ul>
        </div>
        <div class="nk-footer-copyright"> &copy; Copyright 2020, <a href="#">Softnio</a>
        </div>
      </div>
    </div>
  </div>
  <!-- footer @e -->
</div>
<!-- wrap @e -->
