<div *ngIf="formDisplaying == true">
  <label class="form-label" for="categories">Répondre</label>
  <div class="form-control-wrap">
    <p-editor [style]="{'height':'120px'}" [(ngModel)]="reponseTyping"></p-editor>
    <br>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button (click)="annuler()" class="btn btn-white btn-outline-light btn-sm">
            <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
        </div>
        <div class="col-md-3">
          <button (click)="enregistrerReponse()" class="btn btn-primary btn-sm">
            <em class="icon ni ni-check"></em>
            <span> Enregistrer </span>
          </button>
        </div>
        <div *ngIf="isEnregistrement" class="col-md-6">
          <div class="d-flex align-items-center">
            <strong>Opération en cours...</strong>
            <div aria-hidden="true" class="spinner-border ml-auto" role="status">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<div>
  <hr *ngIf="formDisplaying == true">
 <!-- <p-dataView #dv [loading]="loading" [paginator]="true" [rows]="2"
              [value]="reponseList"
              emptyMessage="Aucune réponse n'est rendue disponible pour cette question !"
              filterBy="contenu">
    <ng-template pTemplate="header">
      <input (input)="dv.filter($event.target.value, 'contains')" class="form-control"
             placeholder="Rechercher"
             type="text">
    </ng-template>
    <ng-template let-reponse pTemplate="listItem" style="display: inline;">

      <div class="col-lg-12" style="display: inline-block;">
          {{ reponse.contenu }}
      </div>

    </ng-template>
  </p-dataView>-->
  RÉPONSE(S) <br>
  <div class="card card-bordered">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let reponseData of reponseList">
        <div class="row">
          <div class="col-md-1">
            <em class="icon ni ni-comments" style="font-size: 30px;"> </em>
          </div>
          <div class="col-md-11">
            {{ reponseData.contenu }}
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
