<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding-right: unset!important;padding-left: unset!important;">

    <div class="card card-bordered">
      <div class="card-inner">
        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">

          <div class="nk-block nk-block-middle nk-auth-body">
            <div class="brand-logo pb-5">
              <a class="logo-link" href="html/index.html">
                <img alt="logo" class="logo-light logo-img logo-img-lg"
                     src="assets/images/logo.png" srcset="./images/logo2x.png 2x">
                <img alt="logo-dark" class="logo-dark logo-img logo-img-lg"
                     src="assets/images/logo-dark.png" srcset="./images/logo-dark2x.png 2x">
              </a>
            </div>

            <router-outlet></router-outlet>


          </div><!-- .nk-block -->
        </div><!-- .nk-split-content -->
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>
