<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">La une des youtubes</h3>
    <div class="nk-block-des">Gestion de la une des youtube</div>
  </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

              <h6 class="title">Formulaire d'enregistrement</h6>
              <p>Les champs obligatoires se terminent par <span class="text-danger">*</span></p>
              <br>

              <form [formGroup]="infoYoutubeForm">

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="form-label" for="titre">Titre</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="titre" id="titre" type="text">
                          <span
                            *ngIf="(infoYoutubeForm.get('titre').errors && infoYoutubeForm.get('titre').touched)"
                            class="invalid">
                               Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="form-label" for="lienYoutube">Lien youtube</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="lienYoutube" id="lienYoutube" type="text">
                          <span
                            *ngIf="(infoYoutubeForm.get('lienYoutube').errors && infoYoutubeForm.get('lienYoutube').touched)"
                            class="invalid">
                               Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                     <br>
                        <div class="custom-control custom-checkbox" style="margin-top: 10px;">
                            <input class="custom-control-input" formControlName="laUne" id="customCheck2"
                                   type="checkbox">
                            <label class="custom-control-label"
                                   for="customCheck2">Rendre publique ce lien ?</label>
                        </div>
                    </div>

                  </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label class="form-label" for="default-02">Description </label>
                          <div class="form-control-wrap">
                              <textarea class="form-control" formControlName="description" id="default-textarea"
                                        rows="2">
                              </textarea>
                          </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-2">
                        <button (click)="makeForm(null)" class="btn btn-white btn-outline-light btn-sm">
                          <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="submitForm()" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-check"></em>
                          <span *ngIf="infoYoutubeForm.get('id').value == null"> Enregistrer </span>
                          <span *ngIf="infoYoutubeForm.get('id').value != null"> Modifier </span>
                        </button>
                      </div>
                      <div *ngIf="isEnregistrement" class="col-md-8">
                        <div class="d-flex align-items-center">
                          <strong>Enregistrement en cours...</strong>
                          <div aria-hidden="true" class="spinner-border ml-auto" role="status">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </form>
          <br>
          <hr>
          <br>
          <h6 class="title">Liste des enregistrements</h6>
              <p>Toutes les liens youtubes enregistrés.</p>
              <br>

          <p-table #dt [loading]="loading" [paginator]="true" [rowsPerPageOptions]="[10,25,50]"
                   [rows]="10"
                   [showCurrentPageReport]="true" [value]="infoYoutubeList"
                   currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} élements" dataKey="id"
                   styleClass="table nk-tb-list nk-tb-ulist">

        <ng-template pTemplate="header">
          <tr class="nk-tb-item nk-tb-head">
            <th class="nk-tb-col text-center" pSortableColumn="titre">
              <span class="sub-text"> Titre  <p-sortIcon field="titre"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="laUne">
              <span class="sub-text"> État  <p-sortIcon field="laUne"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text">Actions </span>
            </th>
          </tr>

          <tr class="title-filter-table">
            <th>
              <input (input)="dt.filter($event.target.value, 'titre', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'laUne', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text"># </span></th>
          </tr>
        </ng-template>

        <ng-template let-infoYoutube pTemplate="body">
          <tr class="nk-tb-item">
            <td class="nk-tb-col tb-col-md">
              <span>{{ infoYoutube.libelle }}</span>
            </td>
            <td class="nk-tb-col tb-col-md">
              <span *ngIf="infoYoutube.laUne" style="font-size: 16px;"
                    class="badge badge-dim badge-outline-success">
                  PUBLIÉ</span>
              <span *ngIf="!infoYoutube.laUne" style="font-size: 16px;"
                    class="badge badge-dim badge-outline-danger">
                  NON PUBLIÉ</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
              <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;">
                <em (click)="makeForm(infoYoutube)" class="icon ni ni-edit"></em></button>
              <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                      data-target="#modalAlert2" data-toggle="modal">
                <em (click)="deleteInfoYoutubeOnList(1, infoYoutube)" class="icon ni ni-cross"></em></button>
            </td>
          </tr>
        </ng-template>

        </p-table>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->


<!-- Modal Alert 2 -->
<div *ngIf="infoYoutube != null" class="modal fade" id="modalAlert2" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Confirmez-vous?</h4>
          <div class="nk-modal-text">
            <p class="text-soft">Suppression définitive de l'élément : <br><b>{{ infoYoutube.titre }}</b> ? </p>
          </div>
          <div class="nk-modal-action mt-5">
            <a class="btn btn-lg btn-mw btn-light" data-dismiss="modal" href="#">Non</a>
            <a (click)="deleteInfoYoutubeOnList(2, infoYoutube)" class="btn btn-lg btn-mw btn-danger margin-left-15-px"
               data-dismiss="modal"
               href="#">Oui</a>
          </div>
        </div>
      </div><!-- .modal-body -->
    </div>
  </div>
</div>

