<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Expérience</h3>
    <div class="nk-block-des">
      <p class="text-soft">Gestion des expériences partagées.</p>
    </div>
  </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

          <div *ngIf="isPublicationTyping == true">
              <h6 class="title">Formulaire d'enregistrement</h6>
              <p>Les champs obligatoires se terminent par <span class="text-danger">*</span></p>
              <br>

              <form [formGroup]="publicationForm">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" for="titre">Titre</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="titre" id="titre" type="text">
                          <span *ngIf="(publicationForm.get('titre').errors && publicationForm.get('titre').touched)"
                                class="invalid">
                               Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label" for="categories">Catégories de publication</label>
                      <div class="form-control-wrap">
                        <ng-select [compareWith]="compareFn" [multiple]="true" bindLabel="libelle"
                                   formControlName="categories">
                          <ng-option *ngFor="let categorie of categorieList"
                                     [value]="categorie">{{  categorie.libelle  }}</ng-option>
                        </ng-select>
                         <span
                           *ngIf="(publicationForm.get('categories').errors && publicationForm.get('categories').touched)"
                           class="invalid"> Ce champs est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-8">
                          <label class="form-label" for="categories">Mots clés de la publication</label>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-icon btn-sm btn-primary btn-round"
                                  data-target="#modalAlert1" data-toggle="modal" style="float: right;">
                            <em class="icon ni ni-plus"></em></button>
                        </div>
                      </div>
                      <div class="form-control-wrap">
                         <ng-select [compareWith]="compareFn" [multiple]="true" bindLabel="libelle"
                                    formControlName="motCles">
                          <ng-option *ngFor="let motCle of motCleList"
                                     [value]="motCle">{{  motCle.libelle  }}</ng-option>
                        </ng-select>
                         <span *ngIf="(publicationForm.get('motCles').errors && publicationForm.get('motCles').touched)"
                               class="invalid"> Ce champs est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                  </div>
                  <br>
                  <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="form-label" for="categories">Contenu</label>
                      <div class="form-control-wrap">
                        <p-editor [style]="{'height':'120px'}" formControlName="contenu"></p-editor>
                         <span *ngIf="(publicationForm.get('contenu').errors && publicationForm.get('contenu').touched)"
                               class="invalid"> Ce champs est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                  </div>
                  <br>
                  <div class="row">
                  <div class="col-sm-5">
                    <div class="card card-bordered" style="height: 100%;">
                       <div class="card-inner">
                    <div class="form-group">
                      <label class="form-label" for="libelle">Image à la Une</label>
                        <div class="form-control-wrap">
                          <input (change)="ajouterImageUne($event)" class="form-control" id="libelle" type="file">
                        </div>
                      <br>
                       <div *ngIf="imageUne != null" class="form-control-wrap">
                         <img alt="" src="{{ imageUne.urifile }}" style="height: 150px;">
                         <br>
                          <button (click)="annulerImageUneFile()" class="btn btn-white btn-outline-light btn-sm">
                          <em class="icon ni ni-cross"></em> <span> Annuler la une </span> </button>
                       </div>
                    </div>
                    </div>
                      </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="card card-bordered">
                       <div class="card-inner">
                    <div class="form-group">
                        <label class="form-label" for="libelle">Joindre des pièces à la publication</label>

                       <div class="row">
                        <div class="col-md-8">
                            <small class="text-soft"> Sélectionner un fichier pour l'ajouter dans la liste</small>
                        </div>
                        <div class="col-md-4">
                          <button (click)="annulerRessourceFile()" class="btn btn-icon btn-sm btn-primary btn-round"
                                  data-target="#modalAlert4" data-toggle="modal" style="float: right;">
                            <em class="icon ni ni-file"></em></button>
                        </div>
                      </div>
                                     <ng-select (change)="addPieceToRessource($event)">
                                        <ng-option *ngFor="let media of mediaList"
                                                   [value]="media">{{ media.originalName  }}
                                        </ng-option>
                                      </ng-select>

                      <br>
                      <p-dataView #dv [loading]="loading" [paginator]="true" [rows]="2"
                                  [value]="mediaRessourceList"
                                  emptyMessage="Aucune pièce n'est jointe à la publication !"
                                  filterBy="fileName" layout="grid">
                          <ng-template pTemplate="header">
                              <input (input)="dv.filter($event.target.value, 'contains')" class="form-control"
                                     placeholder="Rechercher"
                                     type="text">
                          </ng-template>
                          <ng-template let-medias pTemplate="gridItem" style="display: inline;">

                              <div class="col-lg-6" style="display: inline-block;">
                                  <span class="card card-bordered text-soft" style="margin-top: 10px;">
                                          <div class="card-inner text-center">
                                            <img *ngIf="medias.mimeType.includes('image')" alt=""
                                                 src="{{ medias.urifile }}"
                                                 style="height:80px;">
                                            <i *ngIf="!medias.mimeType.includes('image')" class="icon ni ni-file"
                                               style="font-size:80px;"> </i>
                                            {{ medias.originalName }}
                                          </div>

                                     <div class="card-footer border-top text-muted">
                                         <button class="btn btn-icon btn-sm btn-primary btn-round"
                                                 style="margin-right: 10px;">
                                  <em (click)="printFileToViewInNavigator(medias.fileName)"
                                      class="icon ni ni-download"></em></button>
                                <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                                        data-target="#modalAlert3" data-toggle="modal" style="margin-right: 10px;">
                                  <em (click)="deleteFileOnList(1, medias)" class="icon ni ni-cross"></em></button>

                                        <button (click)="copyToClipBoard(medias.urifile )"
                                                class="btn btn-icon btn-sm btn-primary btn-round"
                                                title="Copier le lien dans le presse papier">
                                                 <em class="icon ni ni-link"></em></button>
                                             </div>
                                          </span>
                                      </div>

                          </ng-template>
                      </p-dataView>
                    </div>
                    </div>
                    </div>
                  </div>
                  </div>
                  <br>
                <hr>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-2">
                        <button (click)="makeForm(false, null)" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-arrow-left"></em>
                          <span> Retour à la liste </span> </button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="makeForm(true, null)" class="btn btn-white btn-outline-light btn-sm">
                          <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="submitForm()" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-check"></em>
                          <span *ngIf="publicationForm.get('id').value == null"> Enregistrer </span>
                          <span *ngIf="publicationForm.get('id').value != null"> Modifier </span>
                        </button>
                      </div>
                      <div *ngIf="isEnregistrement" class="col-md-6">
                        <div class="d-flex align-items-center">
                          <strong>Enregistrement en cours...</strong>
                          <div aria-hidden="true" class="spinner-border ml-auto" role="status">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </form>
          <br>
          </div>
          <!--<hr>-->

          <div *ngIf="isPublicationTyping == false">
              <br>
            <div class="row">
              <div class="col-md-9">
                 <h6 class="title">Toutes mes expériences partagées</h6>
              </div>
              <div class="col-md-3">
                   <button (click)="newPublicationFormDisplayed()" class="btn btn-white btn-outline-light btn-sm"
                           style="float: right;">
                          <em class="icon ni ni-note-add"></em> <span> Nouvelle expérience </span> </button>
              </div>
            </div>

          <br>
              <p-table #dt [loading]="loading" [paginator]="false" [value]="publicationList"
                       styleClass="table nk-tb-list nk-tb-ulist">

            <ng-template pTemplate="header">
              <tr class="nk-tb-item nk-tb-head">
                <th class="nk-tb-col text-center" pSortableColumn="titre">
                  <span class="sub-text"> Titre  <p-sortIcon field="titre"></p-sortIcon> </span>
                </th>
                <th class="nk-tb-col text-center" pSortableColumn="status">
                  <span class="sub-text"> Statut  <p-sortIcon field="status"></p-sortIcon> </span>
                </th>
                <th class="nk-tb-col text-center">
                  <span class="sub-text">Actions </span>
                </th>
              </tr>
              <!--  <tr class="title-filter-table">
                  <th>
                    <input (input)="dt.filter($event.target.value, 'code', 'contains')" class="form-control "
                           placeholder="Rechercher" type="text">
                  </th>
                  <th class="nk-tb-col text-center">
                    <span class="sub-text"># </span></th>
                </tr>-->
            </ng-template>

            <ng-template let-publication pTemplate="body">
              <tr class="nk-tb-item">
                <td class="nk-tb-col tb-col-md">
                  <span>{{ publication.titre }}</span>
                </td>
                <td class="nk-tb-col tb-col-md text-center">
                  <span *ngIf="publication.status == 'EN_REVISION'"
                        class="badge badge-dim badge-outline-primary">
                    EN RÉVISION</span>
                  <span *ngIf="publication.status == 'PUBLIE'"
                        class="badge badge-dim badge-outline-success">
                    PUBLIÉE</span>
                  <span *ngIf="publication.status == 'BROUILLON'"
                        class="badge badge-dim badge-outline-secondary">
                    NON PUBLIÉE</span>
                  <span *ngIf="publication.status == 'ANNULE'"
                        class="badge badge-dim badge-outline-danger">
                    ANNULÉE</span>
                </td>
                <td class="nk-tb-col tb-col-md text-center">
                  <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;">
                    <em (click)="makeForm(true, publication)" class="icon ni ni-edit"></em></button>
                  <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                          data-target="#modalAlert2" data-toggle="modal" style="margin-right: 10px;">
                    <em (click)="deletePublicationOnList(1, publication)" class="icon ni ni-cross"></em></button>
                  <button class="btn btn-icon btn-sm btn-primary btn-round"
                          data-target="#modalAlert6" data-toggle="modal">
                    <em (click)="displayDetailPublication(publication)" class="icon ni ni-info"></em></button>
                </td>
              </tr>
            </ng-template>

            </p-table>

            <p-paginator (onPageChange)="list($event)" [rows]="2" totalRecords="{{ totalRecord }}"></p-paginator>

          </div>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->


<!-- Modal Alert 2 -->
<div *ngIf="publication != null" class="modal fade" id="modalAlert2" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Confirmez-vous ?</h4>
          <div class="nk-modal-text">
            <p class="text-soft">Suppression définitive de l'élément : <br><b>{{ publication.titre }}</b> ? </p>
          </div>
          <div class="nk-modal-action mt-5">
            <a class="btn btn-lg btn-mw btn-light" data-dismiss="modal" href="#">Non</a>
            <a (click)="deletePublicationOnList(2, publication)" class="btn btn-lg btn-mw btn-danger margin-left-15-px"
               data-dismiss="modal"
               href="#">Oui</a>
          </div>
        </div>
      </div><!-- .modal-body -->
    </div>
  </div>
</div>


<!-- Modal Alert 3 -->
<div *ngIf="media != null" class="modal fade" id="modalAlert3" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Confirmez-vous ?</h4>
          <div class="nk-modal-text">
            <p class="text-soft">Suppression définitive de l'élément : <br><b>{{ media?.originalName }}</b> ? </p>
          </div>
          <div class="nk-modal-action mt-5">
            <a class="btn btn-lg btn-mw btn-light" data-dismiss="modal" href="#">Non</a>
            <a (click)="deleteFileOnList(2, media)" class="btn btn-lg btn-mw btn-danger margin-left-15-px"
               data-dismiss="modal"
               href="#">Oui</a>
          </div>
        </div>
      </div><!-- .modal-body -->
    </div>
  </div>
</div>


<!-- Modal Form -->
<div class="modal fade" id="modalAlert1" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout d'un mot clé</h5>
        <a aria-label="Close" class="close" data-dismiss="modal" href="#">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body">
        <div class="form-validate is-alter">
          <div class="form-group">
            <label class="form-label" for="full-name">Nouveau mot clé</label>
            <div class="form-control-wrap">
              <input [(ngModel)]="motCleTyping" class="form-control" id="full-name" required type="text">
            </div>
          </div>
          <div class="form-group">
            <button (click)="ajouterMotClePublication()" aria-label="Close" class="btn btn-sm btn-primary"
                    data-dismiss="modal">
              <i class="icon ni ni-check"> </i>Enregistrer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form -->
<div class="modal fade" id="modalAlert4" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout d'une nouvelle pièce</h5>
        <a (click)="annulerRessourceFile()" aria-label="Close" class="close" data-dismiss="modal" href="#">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body">
        <div class="form-validate is-alter">
          <div class="form-group">
            <label class="form-label">Joindre la pièce</label>
            <div class="form-control-wrap">
              <input #fileInput (change)="onFileChange($event)" class="form-control" type="file">
            </div>
          </div>
          <div class="form-group">
            <button (click)="annulerRessourceFile()">
              <i class="icon ni ni-check"> </i>Annuler
            </button>
            <button (click)="submitFileForm()" aria-label="Close" class="btn btn-sm btn-primary"
                    data-dismiss="modal">
              <i class="icon ni ni-check"> </i>Enregistrer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form -->
<div class="modal fade" id="modalAlert6" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Détail de la publication</h5>
        <a (click)="closeDetailPublication()" aria-label="Close" class="close" data-dismiss="modal" href="#">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body">
        <div class="form-validate is-alter">
          <div class="form-group">
            <app-info-publication [publication]="publication"></app-info-publication>
          </div>
          <div class="form-group">
            <button (click)="closeDetailPublication()" aria-label="Close"
                    class="btn btn-white btn-outline-light btn-sm" data-dismiss="modal">
              <i class="icon ni ni-cross"> </i>Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
