<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Questions</h3>
    <div class="nk-block-des">
      <p class="text-soft">Ma boîte de question.</p>
    </div>
  </div>
</div><!-- .nk-block-head -->

<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

          <br>
          <h6 class="title">Ma boîte de questions</h6>
          <div class="row">
            <div class="col-md-6">
               <p>Toutes mes questions adressées à la DGI Bénin.</p>
            </div>
          </div>
              <br>

          <p-table #dt [loading]="loading" [paginator]="false" [value]="questionList"
                   currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} élements" dataKey="id"
                   styleClass="table nk-tb-list nk-tb-ulist">

        <ng-template pTemplate="header">
          <tr class="nk-tb-item nk-tb-head">
            <th class="nk-tb-col text-center" pSortableColumn="code" style="width: 35%;">
              <span class="sub-text"> Question  <p-sortIcon field="code"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="libelle" style="width: 25%;">
              <span class="sub-text"> Email expéditeur  <p-sortIcon field="libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="libelle">
              <span class="sub-text"> Réponse  <p-sortIcon field="libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text">Actions </span>
            </th>
          </tr>

          <tr class="title-filter-table">
            <th>
              <input (input)="dt.filter($event.target.value, 'libelle', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'email', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'nombreReponse', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text"># </span></th>
          </tr>
        </ng-template>

        <ng-template let-question pTemplate="body">
          <tr class="nk-tb-item">
            <td class="nk-tb-col tb-col-md">
              <span>{{ question.libelle }}</span>
            </td>
            <td class="nk-tb-col tb-col-md">
              <span>{{ question.email }}</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
                <span *ngIf="question.nombreReponse > 0" style="font-size: 22px;"
                      class="badge badge-dim badge-outline-success">
                    {{ question.nombreReponse }}</span>
                  <span *ngIf="question.nombreReponse <= 0" style="font-size: 22px;"
                        class="badge badge-dim badge-outline-danger"> 0</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
              <button class="btn btn-icon btn-sm btn-primary btn-round"
                      data-target="#modalAlert3" data-toggle="modal"
                      (click)="repondreQuestion(question)" >
                <em class="icon ni ni-eye"></em></button>
            </td>
          </tr>
        </ng-template>

        </p-table>

           <p-paginator (onPageChange)="list($event)" [rows]="2" totalRecords="{{ totalRecord }}"></p-paginator>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->

<!-- Modal Form -->
<div class="modal fade" id="modalAlert3" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Réponse(s) de la DGI Bénin </h5>
        <a aria-label="Close" class="close" data-dismiss="modal" href="#" (click)="annulerAffecter()">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body" *ngIf="question != null">
        QUESTION <br> <b> {{ question.libelle }} </b> <br>
        <hr>
        <div class="form-validate is-alter">
          <div class="form-group">

            <app-repondre [question]="question" [formDisplaying]="false"></app-repondre>

          </div>
          <div class="form-group">
            <button aria-label="Close" data-dismiss="modal" class="btn btn-white btn-outline-light btn-sm">
              <i class="icon ni ni-cross"> </i> Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
