<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Utilisateurs</h3>
    <div class="nk-block-des">
      <p class="text-soft">Gestion des utilisateurs .</p>
    </div>
  </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

              <h6 class="title">Formulaire d'enregistrement</h6>
              <p>Les champs obligatoires se terminent par <span class="text-danger">*</span></p>
              <br>

              <form [formGroup]="utilisateurForm">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" for="name">Nom et prenom(s)</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="name" id="name" type="text">
                          <span
                            *ngIf="(utilisateurForm.get('name').errors && utilisateurForm.get('name').touched)"
                            class="invalid"> Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                <br>
                <div class="row">
                    <div [ngClass]="utilisateurForm.get('id').value == null ? 'col-md-4' : 'col-md-6' ">
                      <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="email" id="email" type="text">
                          <span
                            *ngIf="(utilisateurForm.get('email').errors && utilisateurForm.get('email').touched)"
                            class="invalid"> Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                    <div [ngClass]="utilisateurForm.get('id').value == null ? 'col-md-4' : 'col-md-6' ">
                      <div class="form-group">
                        <label class="form-label" for="username">Identifiant</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="username" id="username" type="text">
                          <span
                            *ngIf="(utilisateurForm.get('username').errors && utilisateurForm.get('username').touched)"
                            class="invalid"> Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4" *ngIf="utilisateurForm.get('id').value == null">
                      <div class="form-group">
                        <label class="form-label" for="username">Mot de passe</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="password" id="password" type="password">
                          <span
                            *ngIf="(utilisateurForm.get('password').errors && utilisateurForm.get('password').touched)"
                            class="invalid"> Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                <br>
                   <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-label" for="categoriesIds">Rôle utilisateur</label>
                        <div class="form-control-wrap">
                         <ng-select [compareWith]="compareFn" bindLabel="name" formControlName="roles">
                          <ng-option *ngFor="let role of roleList"
                                     [value]="role">{{  role.name  }}</ng-option>
                        </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-label">Département</label>
                        <div class="form-control-wrap">
                         <ng-select [compareWith]="compareFn" bindLabel="libelle"
                                    formControlName="departement">
                          <ng-option *ngFor="let departement of departementList"
                                     [value]="departement">{{  departement.libelle  }}</ng-option>
                        </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-2">
                        <button (click)="makeForm(null)" class="btn btn-white btn-outline-light btn-sm">
                          <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="submitForm()" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-check"></em> <span> Enregistrer </span>
                        </button>
                      </div>
                      <div *ngIf="isEnregistrement" class="col-md-8">
                        <div class="d-flex align-items-center">
                          <strong>Enregistrement en cours...</strong>
                          <div aria-hidden="true" class="spinner-border ml-auto" role="status">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </form>
          <br>
          <hr>
          <br>
          <h6 class="title">Liste des enregistrements</h6>
              <p>Tous les utilisateurs enregistrés.</p>
              <br>

          <p-table #dt [loading]="loading" [paginator]="true" [rowsPerPageOptions]="[10,25,50]"
                   [rows]="10"
                   [showCurrentPageReport]="true" [value]="utilisateurList"
                   currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} élements" dataKey="id"
                   styleClass="table nk-tb-list nk-tb-ulist">

        <ng-template pTemplate="header">
          <tr class="nk-tb-item nk-tb-head">
            <th class="nk-tb-col text-center" pSortableColumn="name">
              <span class="sub-text"> Nom et prénom(s)  <p-sortIcon field="name"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="groupe.libelle">
              <span class="sub-text"> Rôle <p-sortIcon field="groupe.libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="email">
              <span class="sub-text"> Email <p-sortIcon field="email"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text">Actions </span>
            </th>
          </tr>

          <tr class="title-filter-table">
            <th>
              <input (input)="dt.filter($event.target.value, 'name', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'groupe.libelle', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'email', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text"># </span></th>
          </tr>
        </ng-template>

        <ng-template let-utilisateur pTemplate="body">
          <tr class="nk-tb-item">
            <td class="nk-tb-col tb-col-md">
              <span>{{ utilisateur.name }}</span>
            </td>
            <td class="nk-tb-col tb-col-md">
              <span>{{ utilisateur.groupe?.name }}</span>
            </td>
            <td class="nk-tb-col tb-col-md">
              <span>{{ utilisateur.email }}</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
              <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;">
                <em (click)="makeForm(utilisateur)" class="icon ni ni-edit"></em></button>
              <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                      data-target="#modalAlert2" data-toggle="modal">
                <em (click)="deleteUtilisateurOnList(1, utilisateur)" class="icon ni ni-cross"></em></button>
            </td>
          </tr>
        </ng-template>

        </p-table>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->


<!-- Modal Alert 2 -->
<div *ngIf="utilisateur != null" class="modal fade" id="modalAlert2" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Confirmez-vous?</h4>
          <div class="nk-modal-text">
            <p class="text-soft">Suppression définitive du compte de : <br><b>{{ utilisateur?.name }}</b> ? </p>
          </div>
          <div class="nk-modal-action mt-5">
            <a class="btn btn-lg btn-mw btn-light" data-dismiss="modal" href="#">Non</a>
            <a (click)="deleteUtilisateurOnList(2, utilisateur)" class="btn btn-lg btn-mw btn-danger margin-left-15-px"
               data-dismiss="modal"
               href="#">Oui</a>
          </div>
        </div>
      </div><!-- .modal-body -->
    </div>
  </div>
</div>
