
<div class="nk-block-head">
  <div class="nk-block-head-content">
    <h2 class="card-title">Inscription</h2>
    <div class="nk-block-des">
      <footer class="blockquote-footer">Remplissez les champs ci-après pour vous inscrire.</footer>
    </div>
    <div *ngIf="isErrorAuthentication" class="example-alert">
      <br>
      <div class="alert alert-danger alert-icon alert-dismissible">
        <em class="icon ni ni-cross-circle"></em> {{ isErrorMessage }}
        <button class="close" data-dismiss="alert"></button>
      </div>
    </div>
  </div>
</div><!-- .nk-block-head -->
<form (ngSubmit)="submitForm()" [formGroup]="validateForm">
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label" for="default-01">Nom et prénom(s)</label>
    </div>
    <input class="form-control form-control-lg" formControlName="name" id="default-01"
           placeholder="Enter votre identifiant" type="text">
    <span *ngIf="(validateForm.get('name').errors && validateForm.get('name').touched)"
          class="invalid"> Ce champs est obligatoire.</span>
  </div><!-- .foem-group -->
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label" for="default-01">Email</label>
    </div>
    <input class="form-control form-control-lg" formControlName="email" id="default-01"
           placeholder="Enter votre identifiant" type="text">
    <span *ngIf="(validateForm.get('email').errors && validateForm.get('email').touched)"
          class="invalid"> Ce champs est obligatoire.</span>
  </div><!-- .foem-group -->
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label" for="default-01">Identifiant ou pseudonyme</label>
    </div>
    <input class="form-control form-control-lg" formControlName="username" id="default-01"
           placeholder="Enter votre identifiant" type="text">
    <span *ngIf="(validateForm.get('username').errors && validateForm.get('username').touched)"
          class="invalid"> Ce champs est obligatoire.</span>
  </div><!-- .foem-group -->
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label" for="password">Mot de passe</label>
    </div>
    <div class="form-control-wrap">
      <input class="form-control form-control-lg" formControlName="password" id="password"
             placeholder="Enter votre mot de passe" type="password">
      <span *ngIf="(validateForm.get('password').errors && validateForm.get('password').touched)"
            class="invalid"> Ce champs est obligatoire.</span>
    </div>
  </div><!-- .foem-group -->
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label" for="password">Confirmation du mot de passe</label>
    </div>
    <div class="form-control-wrap">
      <input class="form-control form-control-lg" formControlName="repeatPassword" id="password"
             placeholder="Enter votre mot de passe" type="password">
      <span *ngIf="(validateForm.get('repeatPassword').errors && validateForm.get('repeatPassword').touched)"
            class="invalid"> Ce champs est obligatoire.</span>
    </div>
  </div><!-- .foem-group -->
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" [disabled]="validateForm.invalid">M'inscrire</button>
  </div>
</form><!-- form -->

<div class="text-center pt-4 pb-3">
  <h6 class="overline-title overline-title-sap"><span>OU</span></h6>
</div>
<ul class="nav justify-center gx-4">
  <li class="nav-item"><a class="nav-link" routerLink="/auth">Se connecter</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/">Accueil</a></li>
</ul>

