
<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-sidebar-brand">
      <a class="logo-link nk-sidebar-logo" href="index.html">
        <img alt="logo" class="logo-light logo-img" src="assets/images/logo.png" srcset="assets/images/logo2x.png 2x">
        <img alt="logo-dark" class="logo-dark logo-img" src="assets/images/logo-dark.png"
             srcset="assets/images/logo-dark2x.png 2x">
      </a>
    </div>
    <div class="nk-menu-trigger mr-n2">
      <a class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu" href="javascript.void(0)"><em
        class="icon ni ni-arrow-left"></em></a>
    </div>
  </div><!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
    <div class="nk-sidebar-content">
      <div class="nk-sidebar-menu" data-simplebar>
        <ul class="nk-menu">
          <li class="nk-menu-item">
            <a class="nk-menu-link" routerLink="/">
              <span class="nk-menu-icon"><em class="icon ni ni-notify"></em></span>
              <span class="nk-menu-text">Accueil</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a class="nk-menu-link" href="#">
              <span class="nk-menu-icon"><em class="icon ni ni-layers"></em></span>
              <span class="nk-menu-text">Administration</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office"><span
                  class="nk-menu-text">Tableau de bord</span></a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/departement">
                  <span class="nk-menu-text">Départements</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/categorie">
                  <span class="nk-menu-text">Thématiques</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/medias">
                  <span class="nk-menu-text">Médias</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/nuage-mots">
                  <span class="nk-menu-text">Mots clés</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/lien-youtube">
                  <span class="nk-menu-text">La une youtube</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/lien-utile">
                  <span class="nk-menu-text">Liens utiles</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/publication">
                  <span class="nk-menu-text">Publications</span>
                  <span class="badge badge-pill badge-success" style="float: right;"
                    *ngIf="statitstiqueData != null && statitstiqueData.nombrePublicationGlobal >0">
                    {{ statitstiqueData.nombrePublicationGlobal }}
                  </span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/question">
                  <span class="nk-menu-text">Questions</span>
                  <span class="badge badge-pill badge-danger" style="float: right;"
                  *ngIf="statitstiqueData != null && statitstiqueData.nombreQuestionsEnAttenteReponse >0">
                     {{ statitstiqueData.nombreQuestionsEnAttenteReponse }}
                  </span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a class="nk-menu-link" routerLink="/back-office/utilisateur">
                  <span class="nk-menu-text">Utilisateurs</span>
                </a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
        </ul><!-- .nk-menu -->
      </div><!-- .nk-sidebar-menu -->
    </div><!-- .nk-sidebar-content -->
  </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->

<!-- wrap @s -->
<div class="nk-wrap ">

  <div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
      <div class="nk-header-wrap">
        <div class="nk-menu-trigger d-xl-none ml-n1">
          <a class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu" href="#"><em
            class="icon ni ni-menu"></em></a>
        </div>
        <div class="nk-header-brand d-xl-none">
          <a class="logo-link" href="index.html">
            <img alt="logo" class="logo-light logo-img" src="assets/images/logo.png"
                 srcset="assets/images/logo2x.png 2x">
            <img alt="logo-dark" class="logo-dark logo-img" src="assets/images/logo-dark.png"
                 srcset="assets/images/logo-dark2x.png 2x">
          </a>
        </div><!-- .nk-header-brand -->
        <div class="nk-header-news d-none d-xl-block">
          <div class="nk-news-list">
            <a class="nk-news-item" href="https://dashlite.themenio.com" target="_blank">
              <div class="nk-news-icon">
                <em class="icon ni ni-b-firefox"></em>
              </div>
              <div class="nk-news-text">
                <p>Désirez-vous connecter au site web de la DGI ?
                  <a href="https://impots.bj" target="_blank">
                    <span>Vous pouvez cliquez ici ... ...</span>
                    <em class="icon ni ni-external"></em>
                  </a>
                </p>
              </div>
            </a>
          </div>
        </div><!-- .nk-header-news -->
        <div class="nk-header-tools">
          <ul class="nk-quick-nav">
            <li class="dropdown user-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="user-toggle">
                  <div class="user-avatar sm">
                    <em class="icon ni ni-user-alt"></em>
                  </div>
                  <div class="user-info d-none d-md-block">
                    <div class="user-status">Administrator</div>
                    <div class="user-name dropdown-indicator">{{ user != null ? (user.name | slice:0:10) : '' }}</div>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                  <div class="user-card">
                    <div class="user-avatar">
                      <span *ngIf="user != null">{{ user.name | slice:0:2 | uppercase }}</span>
                    </div>
                    <div class="user-info">
                      <span class="lead-text">{{ user != null ? user.name : '' }}</span>
                      <span class="sub-text">{{ user != null ? user.email : '' }}</span>
                    </div>
                  </div>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li>
                      <a routerLink="/back-office/mon-profile"><em
                      class="icon ni ni-user-alt"></em><span>Mon compte utilisateur</span></a>
                    </li>
                    <li>
                      <a routerLink="/back-office/reinitialisation">
                      <em class="icon ni ni-setting-alt"></em><span>Réinitialiser mot de passe</span></a>
                    </li>
                    <li>
                      <a routerLink="/back-office/mes-questions">
                      <em class="icon ni ni-msg"></em><span>Mes questions posées</span></a>
                    </li>
                    <li>
                      <a routerLink="/back-office/mes-experiences">
                      <em class="icon ni ni-article"></em><span>Mes expériences</span></a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li>
                      <a (click)="logout()" style="cursor: pointer;">
                        <em class="icon ni ni-signout"></em><span>Déconnexion</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li><!-- .dropdown -->
            <li class="dropdown notification-dropdown mr-n1"
                *ngIf="statitstiqueData != null && statitstiqueData.nombreQuestionsEnAttenteReponse >0">
              <a class="dropdown-toggle nk-quick-nav-icon" routerLink="/back-office/question">
                <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
              </a>
            </li><!-- .dropdown -->
          </ul><!-- .nk-quick-nav -->
        </div><!-- .nk-header-tools -->
      </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
  </div>
  <!-- main header @e -->

  <!-- content @s -->
  <div class="nk-content ">
    <div class="container-fluid">
      <div class="nk-content-inner">
        <div class="nk-content-body">
          <div class="components-preview wide-md mx-auto">

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content @e -->

  <app-footer></app-footer>
</div>
<!-- wrap @e -->
