<div class="nk-block-head">
  <div class="nk-block-head-content">
    <h2 class="card-title">Réinitialisation</h2>
    <div class="nk-block-des">
      <footer class="blockquote-footer">Entrer votre email valide pour réinitialiser votre compte.</footer>
    </div>
    <div *ngIf="isErrorAuthentication" class="example-alert">
      <br>
      <div class="alert alert-danger alert-icon alert-dismissible">
        <em class="icon ni ni-cross-circle"></em> {{ isErrorMessage }}
        <button class="close" data-dismiss="alert"></button>
      </div>
    </div>
  </div>
</div><!-- .nk-block-head -->

<form (ngSubmit)="submitForm()" [formGroup]="validateForm">
  <div class="form-group">
    <div class="form-label-group">
      <label class="form-label" for="default-01">Email</label>
    </div>
    <input class="form-control form-control-lg" formControlName="emailOrUsername" id="default-01"
           placeholder="Enter votre email" type="text">
    <span *ngIf="(validateForm.get('emailOrUsername').errors && validateForm.get('emailOrUsername').touched)"
          class="invalid"> Ce champs est obligatoire.</span>
  </div><!-- .foem-group -->
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" [disabled]="validateForm.invalid">Réinitialiser</button>
  </div>
</form><!-- form -->

<div class="text-center pt-4 pb-3">
  <h6 class="overline-title overline-title-sap"><span>OU</span></h6>
</div>
<ul class="nav justify-center gx-4">
  <li class="nav-item"><a class="nav-link" routerLink="/auth">Connexion</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/">Accueil</a></li>
</ul>
