
<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

              <h6 class="title">Réinitialisation de compte</h6>
              <p>Les champs obligatoires se terminent par <span class="text-danger">*</span></p>
              <br>

              <form [formGroup]="utilisateurForm">

                <div class="row">
                    <div  class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" for="newPassword">Nouveau mot de passe</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="newPassword" id="newPassword" type="password">
                          <span
                            *ngIf="(utilisateurForm.get('newPassword').errors && utilisateurForm.get('newPassword').touched)"
                            class="invalid"> Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" for="confirmation">Confirmation du mot de passe</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="confirmation" id="confirmation" type="password">
                          <span
                            *ngIf="(utilisateurForm.get('confirmation').errors && utilisateurForm.get('confirmation').touched)"
                            class="invalid"> Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3">
                        <button (click)="makeForm()" class="btn btn-white btn-outline-light btn-sm"
                        style="margin-right: 10px;">
                          <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
                      </div>
                      <div class="col-md-3">
                        <button (click)="submitForm()" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-check"></em> <span> Réinitialiser </span>
                        </button>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div *ngIf="isEnregistrement" class="col-md-8">
                        <div class="d-flex align-items-center">
                          <strong>Réinitialisation en cours...</strong>
                          <div aria-hidden="true" class="spinner-border ml-auto" role="status">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </form>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->
