<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Questions</h3>
    <div class="nk-block-des">
      <p class="text-soft">Archive de questions.</p>
    </div>
  </div>
</div><!-- .nk-block-head -->

<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

          <br>
          <h6 class="title">Liste des questions</h6>
          <div class="row">
            <div class="col-md-6">
               <p>Toutes les questions ayant reçues ou non de réponse.</p>
            </div>
            <div class="col-md-6">
              <a routerLink="/back-office/question" style="float: right;"
                 class="btn btn-white btn-outline-light btn-sm">
                     <em class="icon ni ni-arrow-left"></em> <span> Questions sans réponse </span> </a>
            </div>
          </div>
              <br>

          <p-table #dt [loading]="loading" [paginator]="false" [value]="questionList"
                   currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} élements" dataKey="id"
                   styleClass="table nk-tb-list nk-tb-ulist">

        <ng-template pTemplate="header">
          <tr class="nk-tb-item nk-tb-head">
            <th class="nk-tb-col text-center" pSortableColumn="code" style="width: 35%;">
              <span class="sub-text"> Question  <p-sortIcon field="code"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="libelle" style="width: 25%;">
              <span class="sub-text"> Email expéditeur  <p-sortIcon field="libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="libelle">
              <span class="sub-text"> Affect.  <p-sortIcon field="libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="libelle">
              <span class="sub-text"> Rép.  <p-sortIcon field="libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text">Actions </span>
            </th>
          </tr>

          <tr class="title-filter-table">
            <th>
              <input (input)="dt.filter($event.target.value, 'libelle', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'email', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'nombreAffectation', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'nombreReponse', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text"># </span></th>
          </tr>
        </ng-template>

        <ng-template let-question pTemplate="body">
          <tr class="nk-tb-item">
            <td class="nk-tb-col tb-col-md">
              <span>{{ question.libelle }}</span>
            </td>
            <td class="nk-tb-col tb-col-md">
              <span>{{ question.email }}</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
              <span *ngIf="question.nombreAffectation > 0" style="font-size: 22px;"
                    class="badge badge-dim badge-outline-success">
                    {{ question.nombreAffectation }}</span>
                  <span *ngIf="question.nombreAffectation <= 0" style="font-size: 22px;"
                        class="badge badge-dim badge-outline-danger">
                    0</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
                <span *ngIf="question.nombreReponse > 0" style="font-size: 22px;"
                      class="badge badge-dim badge-outline-success">
                    {{ question.nombreReponse }}</span>
                  <span *ngIf="question.nombreReponse <= 0" style="font-size: 22px;"
                        class="badge badge-dim badge-outline-danger">
                    0</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
              <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;"
                      data-target="#modalAlert1" data-toggle="modal" (click)="affecterQuestion(1, question)" >
                <em class="icon ni ni-send"></em></button>
              <button  class="btn btn-icon btn-round btn-outline-light btn-sm"
                      data-target="#modalAlert3" data-toggle="modal" (click)="repondreQuestion(question)" >
                <em class="icon ni ni-reply"></em></button>
            </td>
          </tr>
        </ng-template>

        </p-table>

           <p-paginator (onPageChange)="list($event)" [rows]="2" totalRecords="{{ totalRecord }}"></p-paginator>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->


<!-- Modal Form -->
<div class="modal fade" id="modalAlert1" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Affectation</h5>
        <a aria-label="Close" class="close" data-dismiss="modal" href="#" (click)="annulerAffecter()">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body" *ngIf="question != null">
        Question : <br> <b> {{ question.libelle }} </b> <br><br>
        <div class="form-validate is-alter">
          <div class="form-group">
            <label class="form-label" for="full-name">Département destinataire</label>
            <div class="form-control-wrap">
              <ng-select [compareWith]="compareFn" bindLabel="libelle"
                         [(ngModel)]="departement">
                <ng-option *ngFor="let departement of departementList"
                           [value]="departement">{{  departement.libelle  }}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="form-group">
            <button (click)="affecterQuestion(2, question)" aria-label="Close" class="btn btn-sm btn-primary"
                    data-dismiss="modal" [disabled]="departement == null">
              <i class="icon ni ni-send"> </i> Affecter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form -->
<div class="modal fade" id="modalAlert3" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Réponses </h5>
        <a aria-label="Close" class="close" data-dismiss="modal" href="#" (click)="annulerAffecter()">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body" *ngIf="question != null">
        Question <br> <b> {{ question.libelle }} </b> <br>
        <hr>
        <div class="form-validate is-alter">
          <div class="form-group">

            <app-repondre [question]="question" [formDisplaying]="true"></app-repondre>

          </div>
          <div class="form-group">
            <button aria-label="Close" data-dismiss="modal"  class="btn btn-white btn-outline-light btn-sm">
              <i class="icon ni ni-cross"> </i> Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
