<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Thématiques de publication</h3>
    <div class="nk-block-des">
      <p class="text-soft">Gestion des thématiques de publication.</p>
    </div>
  </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

              <h6 class="title">Formulaire d'enregistrement</h6>
              <p>Les champs obligatoires se terminent par <span class="text-danger">*</span></p>
              <br>

              <form [formGroup]="categorieForm">

                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label" for="code">Code</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="code" id="code" type="text">
                          <span *ngIf="(categorieForm.get('code').errors && categorieForm.get('code').touched)"
                                class="invalid">
                               Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-label" for="libelle">Libellé</label>
                        <div class="form-control-wrap">
                          <input class="form-control" formControlName="libelle" id="libelle" type="text">
                          <span *ngIf="(categorieForm.get('libelle').errors && categorieForm.get('libelle').touched)"
                                class="invalid">
                               Ce champs est obligatoire.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <br>
                        <div class="custom-control custom-checkbox" style="margin-top: 10px;">
                            <input class="custom-control-input" formControlName="experiencePartage" id="customCheck1"
                                   type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Expérience ?</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="form-label" for="default-02">Description </label>
                          <div class="form-control-wrap">
                              <textarea class="form-control" formControlName="description" id="default-textarea"
                                        rows="2">
                              </textarea>
                             <span *ngIf="(categorieForm.get('description').errors && categorieForm.get('description').touched)"
                                   class="invalid">
                               Ce champs est obligatoire.</span>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                       <br>
                        <div class="custom-control custom-checkbox" style="margin-top: 10px;">
                            <input class="custom-control-input" formControlName="publier" id="customCheck2"
                                   type="checkbox">
                            <label class="custom-control-label"
                                   for="customCheck2">Rendre publique la thématique ?</label>
                        </div>
                      <br>
                      <br>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-11">
                                   <label class="form-label" for="libelle">Image à la Une de la thématique</label>
                            </div>
                            <div class="col-md-1">
                               <div class="col-md-4">
                          <button (click)="annulerRessourceFile()" class="btn btn-icon btn-sm btn-primary btn-round"
                                  data-target="#modalAlert4" data-toggle="modal" style="float: right;margin-right: 10px;">
                            <em class="icon ni ni-file"></em></button>
                        </div>
                            </div>
                          </div>
                       <ng-select formControlName="imageAlaUne" >
                          <ng-option *ngFor="let media of mediaList"
                                     [value]="media">{{ media.originalName  }}
                          </ng-option>
                       </ng-select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-icon btn-sm btn-primary btn-round"
                                    style="float: left;margin-top: 30px;"
                                    [disabled]="categorieForm.get('imageAlaUne').value == null">
                                  <em (click)="printFileToViewInNavigator()" class="icon ni ni-eye"></em></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-2">
                        <button (click)="makeForm(null)" class="btn btn-white btn-outline-light btn-sm">
                          <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="submitForm()" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-check"></em>
                          <span *ngIf="categorieForm.get('id').value == null"> Enregistrer </span>
                          <span *ngIf="categorieForm.get('id').value != null"> Modifier </span>
                        </button>
                      </div>
                      <div *ngIf="isEnregistrement" class="col-md-8">
                        <div class="d-flex align-items-center">
                          <strong>Enregistrement en cours...</strong>
                          <div aria-hidden="true" class="spinner-border ml-auto" role="status">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </form>
          <br>
          <hr>
          <br>
          <h6 class="title">Liste des enregistrements</h6>
              <p>Toutes les thématiques de publication enregistrées.</p>
              <br>

          <p-table #dt [loading]="loading" [paginator]="true" [rowsPerPageOptions]="[10,25,50]"
                   [rows]="10"
                   [showCurrentPageReport]="true" [value]="categorieList"
                   currentPageReportTemplate="Affichage de {first} à {last} dans {totalRecords} élements" dataKey="id"
                   styleClass="table nk-tb-list nk-tb-ulist">

        <ng-template pTemplate="header">
          <tr class="nk-tb-item nk-tb-head">
            <th class="nk-tb-col text-center" pSortableColumn="code">
              <span class="sub-text"> Code  <p-sortIcon field="code"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center" pSortableColumn="libelle">
              <span class="sub-text"> Libellé  <p-sortIcon field="libelle"></p-sortIcon> </span>
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text">Actions </span>
            </th>
          </tr>

          <tr class="title-filter-table">
            <th>
              <input (input)="dt.filter($event.target.value, 'code', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th>
              <input (input)="dt.filter($event.target.value, 'libelle', 'contains')" class="form-control "
                     placeholder="Rechercher" type="text">
            </th>
            <th class="nk-tb-col text-center">
              <span class="sub-text"># </span></th>
          </tr>
        </ng-template>

        <ng-template let-categorie pTemplate="body">
          <tr class="nk-tb-item">
            <td class="nk-tb-col tb-col-md">
              <span>{{ categorie.code }}</span>
            </td>
            <td class="nk-tb-col tb-col-md">
              <span>{{ categorie.libelle }}</span>
            </td>
            <td class="nk-tb-col tb-col-md text-center">
              <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;">
                <em (click)="makeForm(categorie)" class="icon ni ni-edit"></em></button>
              <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                      data-target="#modalAlert2" data-toggle="modal">
                <em (click)="deleteCategorieOnList(1, categorie)" class="icon ni ni-cross"></em></button>
            </td>
          </tr>
        </ng-template>

        </p-table>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->


<!-- Modal Alert 2 -->
<div *ngIf="categorie != null" class="modal fade" id="modalAlert2" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Confirmez-vous?</h4>
          <div class="nk-modal-text">
            <p class="text-soft">Suppression définitive de l'élément : <br><b>{{ categorie.libelle }}</b> ? </p>
          </div>
          <div class="nk-modal-action mt-5">
            <a class="btn btn-lg btn-mw btn-light" data-dismiss="modal" href="#">Non</a>
            <a (click)="deleteCategorieOnList(2, categorie)" class="btn btn-lg btn-mw btn-danger margin-left-15-px"
               data-dismiss="modal"
               href="#">Oui</a>
          </div>
        </div>
      </div><!-- .modal-body -->
    </div>
  </div>
</div>


<!-- Modal Form -->
<div class="modal fade" id="modalAlert4" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Ajout d'une nouvelle pièce</h6>
        <a (click)="annulerRessourceFile()" aria-label="Close" class="close" data-dismiss="modal" href="#">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body">
        <div class="form-validate is-alter">
          <div class="form-group">
            <label class="form-label">Joindre la pièce</label>
            <div class="form-control-wrap">
              <input #fileInput (change)="onFileChange($event)"  type="file" accept="image/*">
            </div>
          </div>
          <br>
          <div class="form-group">
            <button (click)="annulerRessourceFile()" class="btn btn-white btn-outline-light btn-sm"
                    style="margin-right: 10px;" data-dismiss="modal" aria-label="Close">
              <i class="icon ni ni-check"> </i>Annuler
            </button>
            <button (click)="submitFileForm()" aria-label="Close" class="btn btn-sm btn-primary"
                    data-dismiss="modal">
              <i class="icon ni ni-check"> </i>Enregistrer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
