<div class="nk-block">
  <div class="card card-bordered">
    <div class="card-aside-wrap">
      <div class="card-inner card-inner-lg">
        <div class="nk-block-head nk-block-head-lg">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h4 class="nk-block-title">Mon compte utilisateur</h4>
              <div class="nk-block-des">
                <p>Toutes les informations sur mon compte utilisateur.</p>
              </div>
            </div>
            <div class="nk-block-head-content align-self-start d-lg-none">
              <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
            </div>
          </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
          <div class="nk-data data-list">
           <!-- <div class="data-head">
              <h6 class="overline-title">Basics</h6>
            </div>-->
            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
              <div class="data-col">
                <span class="data-label">Nom et prénom(s)</span>
                <span class="data-value text-soft lead-text">{{ user!= null ? user.name : '' }}</span>
              </div>
              <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
            </div><!-- data-item -->
            <div class="data-item">
              <div class="data-col">
                <span class="data-label">Email</span>
                <span class="data-value text-soft lead-text">{{ user!= null ? user.email : '' }}</span>
              </div>
              <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
            </div><!-- data-item -->
            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
              <div class="data-col">
                <span class="data-label">Identifiant</span>
                <span class="data-value text-soft lead-text">{{ user!= null ? user.username : '' }}</span>
              </div>
              <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
            </div><!-- data-item -->
            <div class="data-item" data-toggle="modal" data-target="#profile-edit" *ngIf=" user!= null && user.departement != null">
              <div class="data-col">
                <span class="data-label">Département <br>d'affectation</span>
                <span class="data-value text-soft lead-text">{{ user!= null && user.departement ? user.departement.libelle : '#' }}</span>
              </div>
              <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
            </div><!-- data-item -->
            <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
              <div class="data-col">
                <span class="data-label"> Profil </span>
                <span class="data-value text-soft lead-text">{{ user!= null && user.roles ? getRoleLibelle(user.roles[0].name) : '#' }}</span>
              </div>
              <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
            </div><!-- data-item -->
          </div><!-- data-list -->
        </div><!-- .nk-block -->
      </div>
      <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg toggle-screen-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
        <div class="card-inner-group" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
          <div class="card-inner">
            <div class="user-card">
              <div class="user-avatar bg-primary">
                <span *ngIf="user != null">{{ user.name | slice:0:2 | uppercase }}</span>
              </div>
              <div class="user-info">
                <span class="lead-text">{{ user!= null ? user.name : '' }}</span>
                <span class="sub-text">{{ user!= null ? user.email : '' }}</span>
              </div>
            </div><!-- .user-card -->
          </div><!-- .card-inner -->
          <div class="card-inner p-0">
            <ul class="link-list-menu">
             <!-- <li><a href="html/user-profile-notification.html">
                <em class="icon ni ni-bell-fill"></em>
                <span>Notifications</span></a>
              </li>-->
              <li><a routerLink="/back-office/reinitialisation">
                <em class="icon ni ni-lock-alt-fill"></em>
                <span>Réinitialiser mot de passe</span></a>
              </li>
              <li><a routerLink="/back-office/mes-questions">
                <em class="icon ni ni-msg"></em>
                <span>Mes questions posées</span></a>
              </li>
              <li><a routerLink="/back-office/mes-experiences">
                <em class="icon ni ni-article"></em>
                <span>Mes expériences partagées</span></a>
              </li>
            </ul>
          </div><!-- .card-inner -->
        </div></div></div></div>
          <div class="simplebar-placeholder" style="width: auto; height: 554px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div><!-- .card-inner-group -->
      </div><!-- card-aside -->
    </div><!-- .card-aside-wrap -->
  </div><!-- .card -->
</div>
