/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif; }

.nk-content {
  background:  #f5f6fa;
}
.nk-main {
  font-family: Montserrat;
}


#chart {
  max-width: 500px;
  margin: 35px auto;
  padding: 0;
}
#chart2 {
  width: 100%;
  margin: 35px auto;
  padding: 0;
}


.modal-title {
  text-transform: uppercase;
}

td > .badge {
  padding: 8px 15px 8px 15px;
}

.nk-menu-sub .nk-menu-item {
  padding: 5px 0;
}
