<div class="nk-block-head nk-block-head-lg wide-sm">
  <div class="nk-block-head-content">
    <h3 class="nk-block-title fw-normal">Médias</h3>
    <div class="nk-block-des">
      <p class="text-soft">Gestion des médias.</p>
    </div>
  </div>
</div><!-- .nk-block-head -->
<div class="nk-block nk-block-lg">
  <div class="row g-gs">
    <div class="col-lg-12">
      <span class="card card-bordered text-soft">
        <div class="card-inner">

              <h6 class="title">Formulaire d'enregistrement</h6>
              <br>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label" for="libelle">Joindre le média</label>
                        <div class="form-control-wrap">
                          <input #fileInput (change)="onFileChange($event)" class="form-control" id="libelle"
                                 type="file">
                        </div>
                      </div>
                    </div>

                  </div>
          <br>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-2">
                        <button (click)="annuler()" class="btn btn-white btn-outline-light btn-sm">
                          <em class="icon ni ni-cross"></em> <span> Annuler </span> </button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="submitForm()" [disabled]="fileToSave == null" class="btn btn-primary btn-sm">
                          <em class="icon ni ni-check"></em>
                          <span> Enregistrer </span>
                        </button>
                      </div>
                      <div *ngIf="isEnregistrement" class="col-md-8">
                        <div class="d-flex align-items-center">
                          <strong>Enregistrement en cours...</strong>
                          <div aria-hidden="true" class="spinner-border ml-auto" role="status">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          <hr>
          <br>
          <h6 class="title">Liste des médias</h6>
              <p>Tous les médias enregistrés.</p>
              <br>

          <div class="media-display">
            <p-dataView #dv [loading]="loading" [paginator]="true" [rows]="6"
                        [value]="mediaList" emptyMessage="Aucun média n'est enregistré !"
                        filterBy="fileName,originalName,mimeType" layout="grid">
                <ng-template pTemplate="header">
                    <input (input)="dv.filter($event.target.value, 'contains')" class="form-control"
                           placeholder="Rechercher"
                           type="text">
                </ng-template>
                <ng-template let-medias pTemplate="gridItem" style="display: inline;">

                    <div class="col-lg-4" style="display: inline-block;">
                        <span class="card card-bordered text-soft" style="margin-top: 10px;">
                                <div class="card-inner text-center">
                                  <img *ngIf="medias.mimeType.includes('image')" alt="" src="{{ medias.urifile }}"
                                       style="height:200px;">
                                  <i *ngIf="!medias.mimeType.includes('image')" class="icon ni ni-file"
                                     style="font-size:200px;"> </i>
                                  {{ medias.originalName }}
                                </div>

                           <div class="card-footer border-top text-muted">
                               <button class="btn btn-icon btn-sm btn-primary btn-round" style="margin-right: 10px;">
                <em (click)="printFileToViewInNavigator(medias.fileName)" class="icon ni ni-download"></em></button>
              <button class="btn btn-icon btn-sm btn-white btn-outline-light btn-round"
                      data-target="#modalAlert2" data-toggle="modal" style="margin-right: 10px;">
                <em (click)="deleteMediaOnList(1, medias)" class="icon ni ni-cross"></em></button>

              <button (click)="copyToClipBoard(medias.urifile )" class="btn btn-icon btn-sm btn-primary btn-round"
                      title="Copier le lien dans le presse papier">
                <em class="icon ni ni-link"></em></button>
                           </div>
                        </span>
                    </div>

                </ng-template>
            </p-dataView>
          </div>

        </div>
      </span>
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- .nk-block -->


<!-- Modal Alert 2 -->
<div *ngIf="media != null" class="modal fade" id="modalAlert2" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Confirmez-vous?</h4>
          <div class="nk-modal-text">
            <p class="text-soft">Suppression définitive du fichier : <br><b>{{ media.originalName }}</b> ? </p>
          </div>
          <div class="nk-modal-action mt-5">
            <a class="btn btn-lg btn-mw btn-light" data-dismiss="modal" href="#">Non</a>
            <a (click)="deleteMediaOnList(2, media)" class="btn btn-lg btn-mw btn-danger margin-left-15-px"
               data-dismiss="modal"
               href="#">Oui</a>
          </div>
        </div>
      </div><!-- .modal-body -->
    </div>
  </div>
</div>
