<!-- footer @s -->
<div class="nk-footer">
  <div class="container-fluid">
    <div class="nk-footer-wrap">
      <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="#">Softnio</a>
      </div>
      <div class="nk-footer-links">
        <ul class="nav nav-sm">
          <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- footer @e -->
